rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /env/{flavor}/usersa/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /mind_maps/{mindMapId} {
        allow read, write, create, delete: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}