.dark {
  --md-sys-color-primary: rgb(244 189 111);
  --md-sys-color-surface-tint: rgb(244 189 111);
  --md-sys-color-on-primary: rgb(69 43 0);
  --md-sys-color-primary-container: rgb(99 63 0);
  --md-sys-color-on-primary-container: rgb(255 221 179);
  --md-sys-color-secondary: rgb(221 194 161);
  --md-sys-color-on-secondary: rgb(62 45 22);
  --md-sys-color-secondary-container: rgb(86 68 42);
  --md-sys-color-on-secondary-container: rgb(251 222 188);
  --md-sys-color-tertiary: rgb(184 205 161);
  --md-sys-color-on-tertiary: rgb(36 53 21);
  --md-sys-color-tertiary-container: rgb(58 76 42);
  --md-sys-color-on-tertiary-container: rgb(212 234 187);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(24 18 11);
  --md-sys-color-on-background: rgb(237 224 212);
  --md-sys-color-surface: rgb(24 18 11);
  --md-sys-color-on-surface: rgb(237 224 212);
  --md-sys-color-surface-variant: rgb(79 69 57);
  --md-sys-color-on-surface-variant: rgb(211 196 180);
  --md-sys-color-outline: rgb(156 143 128);
  --md-sys-color-outline-variant: rgb(79 69 57);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(237 224 212);
  --md-sys-color-inverse-on-surface: rgb(54 47 39);
  --md-sys-color-inverse-primary: rgb(128 86 16);
  --md-sys-color-primary-fixed: rgb(255 221 179);
  --md-sys-color-on-primary-fixed: rgb(41 24 0);
  --md-sys-color-primary-fixed-dim: rgb(244 189 111);
  --md-sys-color-on-primary-fixed-variant: rgb(99 63 0);
  --md-sys-color-secondary-fixed: rgb(251 222 188);
  --md-sys-color-on-secondary-fixed: rgb(39 25 4);
  --md-sys-color-secondary-fixed-dim: rgb(221 194 161);
  --md-sys-color-on-secondary-fixed-variant: rgb(86 68 42);
  --md-sys-color-tertiary-fixed: rgb(212 234 187);
  --md-sys-color-on-tertiary-fixed: rgb(16 32 4);
  --md-sys-color-tertiary-fixed-dim: rgb(184 205 161);
  --md-sys-color-on-tertiary-fixed-variant: rgb(58 76 42);
  --md-sys-color-surface-dim: rgb(24 18 11);
  --md-sys-color-surface-bright: rgb(63 56 48);
  --md-sys-color-surface-container-lowest: rgb(18 13 7);
  --md-sys-color-surface-container-low: rgb(32 27 19);
  --md-sys-color-surface-container: rgb(37 31 23);
  --md-sys-color-surface-container-high: rgb(47 41 33);
  --md-sys-color-surface-container-highest: rgb(59 52 43);
}
