.dark-high-contrast {
  --md-sys-color-primary: rgb(255 237 218);
  --md-sys-color-surface-tint: rgb(244 189 111);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(240 185 107);
  --md-sys-color-on-primary-container: rgb(19 9 0);
  --md-sys-color-secondary: rgb(255 237 218);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(217 190 158);
  --md-sys-color-on-secondary-container: rgb(19 9 0);
  --md-sys-color-tertiary: rgb(225 247 200);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(180 202 157);
  --md-sys-color-on-tertiary-container: rgb(4 14 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(24 18 11);
  --md-sys-color-on-background: rgb(237 224 212);
  --md-sys-color-surface: rgb(24 18 11);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(79 69 57);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(254 237 221);
  --md-sys-color-outline-variant: rgb(207 192 176);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(237 224 212);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(100 65 0);
  --md-sys-color-primary-fixed: rgb(255 221 179);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(244 189 111);
  --md-sys-color-on-primary-fixed-variant: rgb(27 14 0);
  --md-sys-color-secondary-fixed: rgb(251 222 188);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(221 194 161);
  --md-sys-color-on-secondary-fixed-variant: rgb(27 15 0);
  --md-sys-color-tertiary-fixed: rgb(212 234 187);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(184 205 161);
  --md-sys-color-on-tertiary-fixed-variant: rgb(7 21 0);
  --md-sys-color-surface-dim: rgb(24 18 11);
  --md-sys-color-surface-bright: rgb(87 79 70);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(37 31 23);
  --md-sys-color-surface-container: rgb(54 47 39);
  --md-sys-color-surface-container-high: rgb(66 58 50);
  --md-sys-color-surface-container-highest: rgb(77 69 61);
}
